/* fonts */
/* [ DM Sans ] */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
    /* colors */
    --Soft-red: hsl(10, 79%, 65%);
    --Cyan: hsl(186, 34%, 60%);
    --Dark-brown: hsl(25, 47%, 15%);
    --Medium-brown: hsl(28, 10%, 53%);
    --Cream: hsl(27, 66%, 92%);
    --Very-pale-orange: hsl(33, 100%, 98%);
    --White: hsl(0, 0%, 100%);

    /* font weights */
    --regular: 400;
    --bold: 700;
}

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--Cream);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--regular);
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

/* main */
.main {
    width: 21rem;
}

.header {
    background-color: var(--Soft-red);
    border-radius: 1rem;
    padding: 1rem 1.6rem;
    color: var(--White);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.7rem;
}

.balance p {
    margin-bottom: 0.2rem;
}

.balance h1 {
    font-weight: var(--bold);
}

.logo {
    width: 4rem;
    height: 2rem;
    object-position: center;
}

.expenses {
    background-color: var(--Very-pale-orange);
    border-radius: 1rem;
    padding: 1rem 1.6rem;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.expenses h2 {
    font-size: 1.38rem;
}

.bars {
    height: 8.9rem;
    display: flex;
    align-items: flex-end;
    gap: 0.8rem;
}

.bar {
    flex: 1;
    position: relative;
}

.expense {
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.72rem;
    font-weight: var(--regular);
    color: var(--White);
    background-color: var(--Dark-brown);
    padding: 0.4rem;
    border-radius: 0.2rem;

    opacity: 0;
    transition: 0.3s ease;
}

.bar__div {
    background-color: var(--Soft-red);
    width: 100%;
    border-radius: 0.2rem;
    transition: 0.3s;
}

.bar__div:hover {
    opacity: 0.6;
}

.bar__div:hover .expense {
    opacity: 1;
}

.day {
    font-size: 0.72rem;
    font-weight: var(--regular);
    color: var(--Medium-brown);
    text-align: center;
    margin-top: 0.2rem;
}

hr {
    border: none;
    height: 0.1rem;
    background: var(--Cream);
    margin: 0.4rem 0;
}

/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.footer p {
    color: var(--Medium-brown);
    font-size: 0.7rem;
    font-weight: var(--regular)
}

.total__amount {
    font-size: 1.8rem;
    color: var(--Dark-brown);
    font-weight: var(--bold);
}

.rate h4 {
    color: var(--Dark-brown);
    font-size: 0.8rem;
    text-align: end;
    font-weight: var(--bold);
}

@media (max-width: 480px) {
    html {
        font-size: 90%;
    }
    
    .main {
        width: 80%;
    }

    .bars {
        gap: 0.6rem;
    }
}

@media (max-width: 375px) {
    .main {
        width: 90%;
    }
}

/* frankuxur */